  .card {
    border: 3px solid #FFAA09;
    text-align: center;
    width: 250px;
    margin: auto;
    background-color: #541515;
    height: 400px;
    border-radius: 2%;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
  }

  img {
    max-width: 90%;
    border-radius: 5%;
    margin-top: 12px;
  }
  .name {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .text h3 {
    color: #FFAA09;
  }
  .instructions {
    color: #ffffff;
    width: 220px;
    height: 90px;
    overflow: hidden;
    overflow-y: auto;
  }

  @media (max-width: 1400px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);

    }
  }


  @media (max-width: 1000px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 700px) {
    .card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }