.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 30px;
  background: var(--background-footer);
  color: var(--text-color-footer);
}
.footer .thanks {
  margin-top: 30px;
  margin-bottom: 15px;
}
.footer .container-title {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}
.footer .one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center; 
  align-items: center; 
}
.footer .logo {
  width: 250px;
  margin-top: 40px;
  margin-left: 50px;
  max-width: 120%;
}
.footer .coctel-icon {
  width: 60px;
}
.footer .year {
  margin-top: 15px;
}
.footer a {
  color: var(--text-color-link);
  text-shadow: none;
  text-decoration: none;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
.footer a:hover {
  color: var(--text-color-link-hover);
}
.footer div {
  text-align: center;
  font-size: 12px;
  max-width: 600px;
}
.footer .three .icon-container {
  display: flex;
  flex-direction: column;
}
.footer .three img {
  width: 40px;
  padding: 5px;
  margin: 0;
  transition: all 0.3s ease;
}
.footer .three a {
  width: 40px;
  margin: auto;
}
.footer .three img:hover {
  transform: scale(1.2);
}
.three a .github {
  width: 45px;
}

@media (max-width: 1439.5px) {
  .footer .logo {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 15px;
  }
  
  .footer div {
    max-width: none;
  }
  .footer .one p {
    font-size: 16px;
  }
  .footer .two p {
    font-size: 12px;
  }
  .footer .three p {
    font-size: 16px;
  }
  .footer .three {
    padding: 0;
  }
  .footer .thanks a {
    font-size: 10px;  
  }
  .two {
    order: 3;
  }
  .footer .two div {
    font-size: 10px;
  }
  .footer .year {
    margin-bottom: 30px;
    font-size: 10px;
  }
  .footer .thanks {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 5px;
    margin-top: 25px;
  }
  .footer .year {
    padding-bottom: 15px;
  }
}